<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/atom.xml" rel="alternate" title="Atom Rss" type="application/atom+xml" />
    <link rel="stylesheet" href="/medias/css/post.css">
    <link rel="stylesheet" href="/medias/css/highlight.css">
    <link rel="stylesheet" href="/medias/css/iconfont.css"/>
    <script type="text/javascript" src="/medias/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/medias/js/cn.js"></script>

  </head>
  <body>
	  
	  
<!-- 分享 -->
<!-- <a class="bshareDiv" href="
://www.bshare.cn/share">Houngking Hsi</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=194e0652-a80d-4f9e-9b75-7c7556299951&style=3&fs=3&textcolor=#127F78&bgcolor=#127F78&bp=facebook,twitter,gplus,weixin,qzone,sinaminiblog,qqim,youdaonote,mqzone,douban&text=分享&lang=en"></script> -->
	  
	  
	  
	  
	  
    <!-- wrap start -->
    <div id="wrap">
    	
        <!-- header start -->
        <div id="header">
            <div id="logo"></div>
            <div id="menu">
                <ul>
                    <li><a href="https://www.indeex.org" title="Home"><i class="idarkgray iconfont">&#xf012b</i></a></li>
                    <li><a href="/cn" title="博文"><i class="idarkgray iconfont">&#xf0161</i></a></li>
                    <li><a href="/cn/about/"  title="关于"><i class="idarkgray iconfont">&#xf01a1</i></a></li>
                    <li><a href="/cn/tags/" title="标签"><i class="idarkgray iconfont">&#xf0152</i></a></li>
                </ul>
            </div>
        </div>
        <!-- header end -->

        <!-- content start -->
        <div class="center-content">
      		<div class="pad">
                <article class="content">
                    {{ content }}
                </article>
      		</div>
      	</div>
        <!-- content end -->

    </div>
    <!-- wrap end -->
	
	
	
	
<!-- <div id="musicbtn">-->
<!--	<input id='btnPlay' type="button" onClick="playFn()" value="pause" style="background-color: #008F8B;border: none;border-radius:4px;color:#fff;" />-->
<!--<audio id="audio" src="../medias/indeex.mp3" autoplay="autoplay" loop="true">-->
<!--　　audio fail.-->
<!--</audio>-->
<!--<script>-->
<!--　　function playFn(){-->
<!--　　    var audio=document.getElementById('audio');-->
<!--　　    if (document.getElementById('btnPlay').value =="pause") {-->
<!--　　      audio.pause();-->
<!--　　      document.getElementById('btnPlay').value='play'-->
<!--　　    }else{-->
<!--　　      audio.play();-->
<!--　　      document.getElementById('btnPlay').value='pause'-->
<!--　　    }-->
<!--　　}-->
<!--</script>-->
<!--</div>-->
<div id="musicbtn" style='display:none'>
	<input id='btnPlay' type="button" onClick="playFn()" value="pause" style="background-color: #008F8B;border: none;border-radius:4px;color:#fff;" />
<audio id="audio" src="https://www.indeex.org/cn/medias/indeex2.mp3">
　　audio fail.
</audio>
<script>
　　function playFn(){
　　    var audio=document.getElementById('audio');
　　    if (document.getElementById('btnPlay').value =="pause") {
　　      audio.pause();
　　      document.getElementById('btnPlay').value='play'
　　    }else{
　　      audio.play();
　　      document.getElementById('btnPlay').value='pause'
　　    }
　　}
	
	var vList = ["https://www.indeex.org/cn/medias/indeex2.mp3","https://www.indeex.org/cn/medias/indeex3.mp3"];
	var vLen = vList.length;
	var curr = 0; 
	window.onload= function(){
		playMusic();
	}
	audio.addEventListener("end", playMusic);
	function playMusic(e) {
		audio.setAttribute("src",vList[curr]);
		audio.play();
		curr = curr + 1;
		if (curr >= vLen) curr = 0;
	}
</script>
</div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
<!-- 	  snow -->
	  <script type="text/javascript" language="javascript">
(function() {
    function k(a, b, c) {
        if (a.addEventListener) a.addEventListener(b, c, false);
        else a.attachEvent && a.attachEvent("on" + b, c)
    }
    function g(a) {
        if (typeof window.onload != "function") window.onload = a;
        else {
            var b = window.onload;
            window.onload = function() {
                b();
                a()
            }
        }
    }
    function h() {
        var a = {};
        for (type in {
            Top: "",
            Left: ""
        }) {
            var b = type == "Top" ? "Y": "X";
            if (typeof window["page" + b + "Offset"] != "undefined") 
a[type.toLowerCase()] = window["page" + b + "Offset"];
            else {
b = document.documentElement.clientHeight ? document.documentElement: document.body;
                a[type.toLowerCase()] = b["scroll" + type]
            }
        }
        return a
    }
    function l() {
        var a = document.body,
        b;
        if (window.innerHeight) b = window.innerHeight;
        else if (a.parentElement.clientHeight) b = a.parentElement.clientHeight;
        else if (a && a.clientHeight) b = a.clientHeight;
        return b
    }
    function i(a) {
        this.parent = document.body;
        this.createEl(this.parent, a);
        this.size = Math.random() * 5 + 5;
        this.el.style.width = Math.round(this.size) + "px";
        this.el.style.height = Math.round(this.size) + "px";
        this.maxLeft = document.body.offsetWidth - this.size;
        this.maxTop = document.body.offsetHeight - this.size;
        this.left = Math.random() * this.maxLeft;
        this.top = h().top + 1;
        this.angle = 1.4 + 0.2 * Math.random();
        this.minAngle = 1.4;
        this.maxAngle = 1.6;
        this.angleDelta = 0.01 * Math.random();
        this.speed = 2 + Math.random()
    }
    var j = false;
    g(function() {
        j = true
    });
    var f = true;
    window.createSnow = function(a, b) {
        if (j) {
            var c = [],
            m = setInterval(function() {
                f && b > c.length && Math.random() 
< b * 0.0025 && c.push(new i(a)); ! f && !c.length && clearInterval(m);
                for (var e = h().top, n = l(), d = c.length - 1; d >= 0; d--) 
if (c[d]) if (c[d].top < e || c[d].top + c[d].size + 1 > e + n) {
                    c[d].remove();
                    c[d] = null;
                    c.splice(d, 1)
                } else {
                    c[d].move();
                    c[d].draw()
                }
            },
            40);
            k(window, "scroll",
            function() {
                for (var e = c.length - 1; e >= 0; e--) c[e].draw()
            })
        } else g(function() {
            createSnow(a, b)
        })
    };
    window.removeSnow = function() {
        f = false
    };
    i.prototype = {
        createEl: function(a, b) {
            this.el = document.createElement("img");
            this.el.setAttribute
("src", b + "https://hungking.cc/assets/imgs/public/snow.gif");
            this.el.style.position = "absolute";
            this.el.style.display = "block";
            this.el.style.zIndex = "99999";
            this.parent.appendChild(this.el)
        },
        move: function() {
            if (this.angle < this.minAngle || this.angle > this.maxAngle) 
this.angleDelta = -this.angleDelta;
            this.angle += this.angleDelta;
            this.left += this.speed * Math.cos(this.angle * Math.PI);
            this.top -= this.speed * Math.sin(this.angle * Math.PI);
            if (this.left < 0) this.left = this.maxLeft;
            else if (this.left > this.maxLeft) this.left = 0
        },
        draw: function() {
            this.el.style.top = Math.round(this.top) + "px";
            this.el.style.left = Math.round(this.left) + "px"
        },
        remove: function() {
            this.parent.removeChild(this.el);
            this.parent = this.el = null
        }
    }
})();
createSnow("", 100);</script>

	
	
	
	
	
	
	




<!-- 	<script type="text/javascript">
	  	var _gaq = _gaq || [];
	  	_gaq.push(['_setAccount', 'UA-57438264-1']);
	  	_gaq.push(['_trackPageview']);
	
	  	(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script> -->

  </body>
</html>
